#regForm {
    background-color: #6b5b95;
    margin: 20px auto;
    padding: 3px;
    width: 70%;
    min-width: 300px;
    background-position: center;
    color: white;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: block;
  }
  
  /* Make circles that indicate the steps of the form: */
  
  
  /* Mark the active step: */
  
  .container{
    float: left;
    margin: 10px;
  }
  .right{
    float: left;
    margin: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
    font-weight:bold;
  }
  .radio {
    width: 20px;
    position: relative;
    
    
  }
  .radio label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 3px 3px 9px rgba(0,0,0,0.5);
    border: 1px solid rgb(85, 207, 255);
  }
  .radio label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    border: 6px solid rgb(27, 135, 168);
    border-radius: 50px;
    opacity: 0;
    }
  .radio label:hover::after {
    opacity: 0.3;
    background-color: white;
    }
  .radio input[type=radio] {
    visibility: hidden;
  }
  .radio input[type=radio]:checked + label:after {
     opacity: 1;
    } 
  
  .custom-select {
    text-align: left;
    color: #000;
  }
   
  /*
  .dropbtn {
    background-color: #ffffff;
    color: rgb(241, 137, 18);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ce6f38;
  }
  */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #6b5b95;
  }
  .btnsubmit{
    padding-top: 21px;
    padding-bottom: 15px;
    padding-left: 436px;
    
  }
  h1{
    text-align: center;
    font-size: 32px;
  }