<div class="navbar">Life Insurance</div>
<div *ngIf="persnalinfo==false" class="container">
  <form action="/action_page.php">
    <div class="form-group">
      <label>Product:</label>
      <select class="form-control">
        <option value="Life" data-geo="state">Life</option>  
        <option value="Auto" data-geo="zip">Auto</option>
        <option value="Homeowners" data-geo="zip">Homeowners</option>
        <option value="Condo" data-geo="zip">Condo Owners</option>
        <option value="Renters" data-geo="zip">Renters</option>
        <option value="Small Business" data-geo="zip">Small Business</option>
        
        <option value="MedicareSupplement" data-geo="state">Medicare Supplement</option>
        <option value="HospitalIncome" data-geo="state">Hospital Income</option>
        <option value="PetInsurance" data-geo="zip">Pet Insurance</option>
        
    </select>  
    </div>
    <div class="form-group">
      <label>State:</label>
      <select  class="form-control">  
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="AR">AR</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="IA">IA</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="ME">ME</option>
        <option value="MD">MD</option>
        <option value="MA">MA</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NE">NE</option>
        <option value="NV">NV</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NY">NY</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="DC">DC</option>
        <option value="WV">WV</option>
        <option value="WI">WI</option>
        <option value="WY">WY</option>
      </select>  
    </div>
    
  </form>
  <button type="button" class="btncolor" (click)="gotoHome()">Start a Quote</button>

</div>
<!-- //////////////////////////////////////////////////////////////////////// -->
<div *ngIf="persnalinfo">
  <form id="regForm" [formGroup]="form" (ngSubmit)="onSubmit()">

    <h1>Personal Information</h1>
    
    <!-- One "tab" for each step in the form: -->
    <div class="tab">
        <label>Name</label>
        <p><input placeholder="First name..."  type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"></p>
        <div *ngIf="f['firstname'].touched && f['firstname'].invalid && submitted" class="alert alert-danger">
            <div *ngIf="f['firstname'].hasError('required')">First Name is required.</div>
        </div>
        <p><input placeholder="Last name..." ype="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"></p>
        <div *ngIf="f['lastname'].touched && f['lastname'].invalid && submitted" class="alert alert-danger">
            <div *ngIf="f['lastname'].hasError('required')">Last Name is required.</div>
        </div>
    </div>
    
    <div class="tab">
        <label>Contact Info</label>
        <input 
        placeholder="Mobile number..."
        formControlName="mobileNumber"
        id="mobileNumber" 
        type="text" 
        class="form-control" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f['mobileNumber'].errors }">
    <div *ngIf="f['mobileNumber'].touched && f['mobileNumber'].invalid && submitted" class="alert alert-danger">
        <div *ngIf="f['mobileNumber'].hasError('required') && submitted">Mobile Number is required.</div>
        <div *ngIf="f['mobileNumber'].hasError('pattern')">Please, Enter 10 digit Mobile Number.</div>
    </div>
    </div>
    
    <div class="tab"> 
        <label>Date of Birth</label>
    <p><input type="date" formControlName="birthday" [ngClass]="{ 'is-invalid': submitted && f['birthday'].errors }"></p>
    <div *ngIf="f['birthday'].touched && f['birthday'].invalid && submitted" class="alert alert-danger">
        <div *ngIf="f['birthday'].hasError('required')">Date of Birth is required.</div>
    </div>    
</div>
    
    <div class="tab">
        <label>Height/Weight</label>
      <p><input placeholder="Height in cms..."  type="text" formControlName="Height" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['Height'].errors }"></p>
      <p><input placeholder="Weight in lbs..." type="text" formControlName="Weight" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['Weight'].errors }"></p>
    </div>

    <div class="form-group">
        <label class="col-xs-12 no-padding">Gender</label>
        <div class="col-xs-12">
        <label class="col-xs-6 lablepadding">
            Male
            <input ng-model="Gender" type="radio" name="radio_gender" formControlName="radio_gender" value="Male" /></label>
        <label class="col-xs-6 lablepadding1">
            Female
            <input ng-model="Gender" type="radio" name="radio_gender" formControlName="radio_gender" value="Female" /></label>
       </div>
    </div>
  <div class="form-group">
    <label>Health Category</label>
    <select class="form-control" formControlName="healthcategory" [ngClass]="{ 'is-invalid': submitted && f['healthcategory'].errors }">
      <option value="0">Select...</option>
      <option value="1">Fair</option>
      <option value="2">Average</option>
      <option value="3">Good</option>
      <option value="4">Excellent</option>
      
      
    </select>
  </div>
  <div class="form-group">
    <label>Coverage Plan</label>
    <select  class="form-control" formControlName="coverageplan" [ngClass]="{ 'is-invalid': submitted && f['coverageplan'].errors }">
      <option value="0">Select...</option>
      <option value="1">$10000</option>
      <option value="2">$25000</option>
      <option value="3">$50000</option>
      <option value="3">$100000</option>
      <option value="4">others</option>
    </select>
  </div>

  <div class="form-group">
    <label >Coverage term</label>
    <select  class="form-control" formControlName="coverageterm" [ngClass]="{ 'is-invalid': submitted && f['coverageterm'].errors }">
      <option value="0">Select...</option>
      <option value="1">10 years</option>
      <option value="2">20 years</option>
      <option value="3">30 years</option>
    </select>
  </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btncolor">Submit</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Reset
        </button>
      </div>
    
    </form>
</div>

<!-- //////////////////////////////////////////////////////////////////////// -->
